**ANS 1:** Python is a programming language which can easily understand and write, which makes it popular among developers and programmers.

**ANS 2:** Interpreter is a python program that directly excute programm line by line, converting it into a machine code at run time.

**ANS 3:** Keywords are reserved words in python that have special meaning and cannot be used as identifiers.

Example of keywords include if,else,while,for,def,import,try,except,return,etc.

**ANS 4:** Keywords are case sensitive and cannot be used as variable or redefined within a python programm.

**ANS 5:** Mutable objects, such as lists and dictionaries, can be modified after creation. Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage and concurrency in python programming.

**ANS 6:** Lists are mutable because it can be modified or change after creation of programm or exuction of it while tupule are immutable objects which therefore cannot be changed after an execution of programm.

**ANS 7:** "==" is a comparison operator in python which states that whether the statement or code is equal or not and gives output as true or false

"is" identity operator which Checks whether two objects refer to the same memory location (i.e., are the same object).

**ANS 8:** Logical operator in python are the operator which combines conditional statement and return the value true or false.

there are three type of logical operator 1) AND 2)  IS 3)  NOT

**ANS 9:** Type casting also referred to as type conversion, is the process of changing one data type to another in python. it provides built in functions such as int(),str(),float(),bool(),tupule(),etc.

**ANS 10:** In implicit typecasting The Python interpreter automatically converts one data type to another without the programmer’s intervention.

in explicit The programmer manually converts one data type into another using type conversion functions like int(), float(), str(), etc.

**ANS 11:** The purpose of conditional statements in Python is to allow a program to make decisions and execute different blocks of code based on whether certain conditions are true or false.

**ANS 12:** elif statement is used when there are multiple condition is used at a time. these sattement help the programmer to make quick decision using elif statement

**ANS 13:** For loop is used for iterating over a sequence of element, while "while" loop are used for executing code until a specific condition becomes false.

**ANS 14:** Imagine you are creating a program that prompts the user to enter a password until they get it right. In this case, you don’t know how many attempts the user will need, so a while loop is a better choice than a for loop.

**PRACTICAL QUESTIONS**

In [ ]:
#ANS 1
print("hello world")

hello world

In [ ]:
#ANS 2:
name = "Jenish Agrawal"
age = 18
print(f"my name is {name}")
print(f"my age is {age}")

my name is Jenish Agrawal
my age is 18

In [ ]:
#ANS 3:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#ANS 4:
import keyword

import keyword

# Input word from the user
word = input("Enter a word: ")

# Check if the word is a keyword and print the result
if keyword.iskeyword(word):
    print(word, "is a Python keyword.")
else:
    print(word, "is not a Python keyword.")

Enter a word:  if
 if is not a Python keyword.

In [39]:
#ANS 5:
list_cont = [1,2,"jenish", "python", 3.14, 87,-89]
list_cont

[1, 2, 'jenish', 'python', 3.14, 87, -89]

In [37]:
list_cont[2]

'Agrawal'

In [40]:
list_cont[2] = "Agrawal" #list are mutable in natue and hence it can modify.
list_cont

[1, 2, 'Agrawal', 'python', 3.14, 87, -89]

In [41]:
tuple_cont = (1,2,"jenish", "python", 3.14, 87,-89)
tuple_cont

(1, 2, 'jenish', 'python', 3.14, 87, -89)

In [42]:
tuple_cont[2]

'jenish'

In [43]:
tuple_cont[2] = "Agrawal" #tuple are immutable in natue and hence it cannot modify.
tuple_cont

TypeError: 'tuple' object does not support item assignment

In [44]:
#ANS 6: # IMMUTABLE
name = "jenish"
name

'jenish'

In [46]:
name[2]

'n'

In [49]:
name[2] = "s" # it will throw an error as string does not support this item.
name

TypeError: 'str' object does not support item assignment

In [50]:
# MUTABLE

In [51]:
a = [12,58,"jenish", "commerce"]
a

[12, 58, 'jenish', 'commerce']

In [52]:
a[0]

12

In [54]:
a[0] = 21
a

[21, 58, 'jenish', 'commerce']

In [55]:
#ANS 7 Same as Q6

In [56]:
# ANS 8:
# logical operator = "and,is,not"
True and True # AND

True

In [57]:
True and False

False

In [58]:
False and False

False

In [61]:
#OR
True or True

True

In [62]:
True or False

True

In [63]:
False or False

False

In [64]:
# ANS 9
a = 2.25
type(a)

float

In [66]:
str(a)

'2.25'

In [68]:
int(a)

2

In [69]:
bool(a)

True

In [73]:
a = 5
b = 10
a + b
print(type(a))
print(type(str(a)))

<class 'int'>
<class 'str'>

In [74]:
#ANS 10
list_cont = [1,"jenish", 3.14,"True"]
list_cont

[1, 'jenish', 3.14, 'True']

In [82]:

print(type(str(list_cont[0])))
print(type(str(list_cont[1])))
print(type(int(list_cont[2])))
print(type(bool(list_cont[3])))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'bool'>

In [84]:
bool(list_cont[0])

True

In [86]:
int(list_cont[2])

3

In [2]:
# ANS 11
a = int(input("enter the number"))
if a == 0:
  print("number is zero")
elif a>0:
  print("number is positive")
else:
  print("number is negative")

enter the number -1
number is negative

In [3]:
a = int(input("enter the number"))
if a == 0:
  print("number is zero")
elif a>0:
  print("number is positive")
else:
  print("number is negative")

enter the number 0
number is zero

In [4]:
a = int(input("enter the number"))
if a == 0:
  print("number is zero")
elif a>0:
  print("number is positive")
else:
  print("number is negative")

enter the number 1
number is positive

In [7]:
# ANS 12
a = 1
b = 11
while a<b:
  print(a)
  a = a+1

1
2
3
4
5
6
7
8
9
10

In [13]:
#ANS 13
sum_even = 0
for a in range(2,51,2):
  sum_even = sum_even + a
print(sum_even)

650

In [14]:
#ANS 14
string = input("enter the sting")
reverse_string = string[::-1]
print(reverse_string)

enter the sting JENISH
HSINEJ

In [15]:
# ANS 15
num = input("enter the number")
factorial = 1
for a in range(1,int(num)+1):
  factorial = factorial*a
print(factorial)

enter the number 5
120